* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

html {
   font-size: 2rem;
   color: palevioletred;
}

body {
   background-image: url(../img/fondo6.jpg);
   margin-left: 30px;
   margin-right: 30px;
}

article {
   align-items: center;
   justify-content: center;
   width: 180px;
   margin: 10px;
}

img {
   width: 180px;
   margin: 0;
}