body {
    background-image: url(../img/fondo6.jpg);
}

.titulopro {
    align-items: center;
    color: palevioletred;
    font-size: 1rem;
}

.cardproducto-img {
    width: 350px;
    height: 200px;
    margin: 10px;
    border: solid;
}

