/* contactos */

/*intro
form
form-control
form-cuadro
*/

.intro-contact {
    text-align: center;
    font-size: 1rem;
    background: linear-gradient(rgb(207, 148, 207), rgb(116, 17, 116));
    margin: 10px;
    width: 340px;
}


.form-contact {
    display: grid;
    grid-template-columns: 340px;
    grid-template-rows: repeat(3, 1fr) 200px;
    background-color: rgb(39, 51, 51);
    place-content: center;
    place-items: center;
    width: 340px;
    margin: 10px;
    padding: 10px;
}

.form-control {
    height: 30px;
    width: 340px;
    font-size: 1rem;
    margin-top: 10px;
    margin: 10px;
    place-self: start;
}

.formcuadro {
    height: 100px;
    width: 340px;
    margin: 10px;
    text-align: start;
}

.boton {
    display: flex;
    place-content: center;
}

/*------- (376/768)------*/

@media (min-width:376px) and (max-width:1019px) {

    .intro-contact {
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: 100px;
        text-align: center;
        font-size: 1rem;
        background-color: rgb(189, 89, 89);
        margin: 10px;
        color: black;
        width: 750px;
    }

    .form-contact {
        display: grid;
        grid-template-columns: 750px;
        grid-template-rows: repeat(3, 1fr) 200px;
        background-color: rgb(39, 51, 51);
        place-content: center;
        place-items: center;
        width: 750px;
        margin: 10px;
        padding: 10px;
    }

    .form-control {
        height: 30px;
        width: 700px;
        font-size: 1rem;
        background-color: grey;
        margin-top: 10px;
        place-self: start;
    }

    .formcuadro {
        height: 100px;
        width: 680px;
        text-align: start;
    }
}

/*--------1024 o mas------*/

@media (min-width:1020px) {

    .intro-contact {
        display: grid;
        grid-template-columns: 1000px;
        grid-template-rows: 100px;
        text-align: center;
        place-items: center;
        font-size: 1rem;
        margin: 10px;
        color: black;
        width: auto;
    }

    .form-contact {
        display: grid;
        grid-template-columns: 1000px;
        grid-template-rows: repeat(3, 1fr) 200px;
        background: linear-gradient(rgb(37, 127, 155), rgb(29, 13, 121)) ;
        place-content: center;
        place-items: center;
        margin: 10px;
        padding: 10px;
        padding-top: 30px;
        width: 1000px;
    }

    .form-control {
        height: 30px;
        font-size: 1rem;  
        background: linear-gradient(rgb(207, 148, 207), rgb(116, 17, 116));
        margin-top: 30px;
        place-self: start;
        width: 900px;
    }

    .formcuadro {
        height: 100px;
        width: 900px;
        text-align: start;
    }
}