/*carrusel home*/
.bodyhome {
    padding: 0px;
    font-size: 0.5rem;
    justify-items: center;
 }
 
 .carrusel {
    color: palevioletred;
    text-align: center;
    margin: 0px;
    padding: 0px;
 }
 
 .carrusel-title {
    font-size: 0.4rem;
    margin: 10px;
    text-align: center;
 }
 
 .carrusel-img {
    width: 250px;
    height: 200px;
 }
 
 .art-descripcion {
    font-size: 0.4rem;
    margin: 10px;
    text-align: center;
    width: 350px;
 }
 
 .art {
    text-align: center;
 }
 