/* formingreso
form-control
botonindex
*/

.formingreso {
   background: linear-gradient(rgb(207, 148, 207), rgb(116, 17, 116));
   text-align: center;
   margin: 30px;
   font-size: 1rem;
   padding: 10px;
   height: auto;

   h2 {
      font-size: 1rem;
   }
}

.form-control-index {
   width: auto;
   font-size: 1rem;
}

.botonindex {
   margin: 30px;
   font-size: 0.75rem;
   color: black;
   place-content: center;
   text-decoration: none;
   background: linear-gradient(rgb(157, 185, 187), rgb(39, 210, 223));
   padding: 5px;
   display: flex;
   border-radius: 10px;
}