/* formingreso
form-control
botonindex
*/

.formingreso {
   border: solid;
   background-color: blueviolet;
   text-align: center;
   margin: 30px;
   font-size: 0.5rem;
   padding: 10px;
   height: 200px;
}

.botonindex {
   margin: 30px;
   font-size: 1rem;
   color: black;
   border: solid black;
   place-content: center;
   place-self: center;
   text-decoration: none;
   background-color: brown;
   padding: 10px;
   display: flex;
}

