main {

   form {
      border: solid;
      background-color: blueviolet;
      text-align: center;
      margin-top: 30px;
      font-size: 0.5rem;
      width: 260px;
      align-items: center;
      justify-items: center;
   }

   button {
      margin: 10px;
      text-decoration: none;
      background-color: palevioletred;
      width:200px;
      color: black;
   }
}