/*list price table*/

.list {
    text-align: center;
    color: palevioletred;
    font-size: 0.5rem;
    border: solid;
 }
 
 .list-title {
    text-align: center;
    color: palevioletred;
    font-size: 0.75rem;
    border: solid;
 }
 