.table {
   color: black;
   background-color: aquamarine;
   border: solid white;

   td:hover {
      font-size: 1.1rem;
      background-color: aqua;
      color: black;
      border: solid black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
}