/*Nuestros productos
art
cardproducto title
cardproducto-img
cardproducto-text*/

.art {
   border: solid palevioletred;
   display: inline-block;
   background-color: black;


   .cardproducto {
      color: palevioletred;
   }

   .cardproducto-img {
      width: 190px;
      height: 200px;
      margin: 10px;
      border: solid palevioletred;
   }

   .cardproducto-title {
      margin: 10px;
      padding: 5px;
      border: solid;
      font-size: 0.75rem;
      color: palevioletred;
      background-color: aqua;
   }
}

.title {
   background-color: blueviolet;
   font-size: 0.75rem;
   border: solid;
   text-align: center;
   padding: 10px;
}