/*Nuestros productos
art
cardproducto-title
cardproducto-img
cardproducto-text*/

.art {
   background: linear-gradient(rgb(157, 185, 187), rgb(39, 210, 223));

   .cardproducto-img {
      width: 200px;
      height: 180px;
      margin: 10px;
      place-items: center;
      place-content: center;
      place-self: center;
   }

   .cardproducto-title {
      margin: 10px;
      padding: 5px;
      border: solid;
      font-size: 0.75rem;
      background: linear-gradient(rgb(226, 73, 188), rgb(206, 163, 188));
      text-align: center;
      font-size: 1.5rem;
      border: none;
   }
}

.cardproducto-text {
   text-align: center;
   font-size: 1rem;
}