/*pedidos
pedidos-titulo
pedidos-subtitulos
pedidos-img 
pedidos-selector
pedidos-cantidad*/

/*---*/

.pedidos {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 200px 100px 50px;
    color: black;
    margin: 10px;
    gap: 10px;
}

.pedidos-subtitulos {
    background-color: aqua;
    border: solid black;
    height: 50px;
    place-self: start;
    justify-items: center;
    padding: 0px;
    width: 280px;
    text-align: center;
}

.pedidos-img {
    height: 200px;
    width: 280px;
    justify-self: center;
}

.pedidos-titulo {
    background-color: purple;
    font-size: 1.5rem;
    border: solid black;
    color: black;
    text-align: center;
    width: 280px;
    margin: 10px;
}

.pedidos-selector {
    width: 280px;
}

.pedidos-cantidades {
    height: 100px;
}

/*--------1024 o mas------*/

@media (min-width:1024px) {
    .pedidos {
        display: grid;
        grid-template-columns: 300px 600px;
        grid-template-rows: 200px 70px;
        color: black;
        margin: 10px;
        gap: 10px;
    }

    .pedidos-subtitulos {
        background-color: aqua;
        border: solid black;
        height: 80px;
        place-self: start;
        padding: 20px;
        width: 600px;
        text-align: center;
    }

    .pedidos-img {
        height: 200px;
        width: 300px;
        justify-self: center;
    }

    .pedidos-titulo {
        background-color: purple;
        font-size: 1.5rem;
        border: solid black;
        color: black;
        text-align: center;
        width: 1100px;
    }

    .pedidos-selector {
        width: 300px;
    }
}

/*------- (376/768)------*/

@media (min-width:376px) and (max-width:1024px) {
    .pedidos {
        display: grid;
        grid-template-columns: 200px 500px;
        grid-template-rows: 200px 70px;
        color: black;
        margin: 10px;
        gap: 10px;
    }

    .pedidos-subtitulos {
        background-color: aqua;
        border: solid black;
        height: 80px;
        place-self: start;
        padding: 20px;
        width: 400px;
        text-align: center;
    }

    .pedidos-img {
        height: 200px;
        width: 200px;
        justify-self: center;
    }

    .pedidos-titulo {
        background-color: purple;
        font-size: 1.5rem;
        border: solid black;
        color: black;
        text-align: center;
        width: 610px;
        margin: 10px;
    }

    .pedidos-selector {
        width: 398px;
    }
}