.imgpedidos {
    width: 250px;
    height: 200px;
    border: solid palevioletred;
}

.titulopedidos {
    color: palevioletred;
}

.form-floating {
    font-size: 0.75rem;
}

.form-select {
    font-size: 0.75rem;
}