/*pedidos
pedidos-titulo
pedidos-subtitulos
pedidos-img 
pedidos-selector
pedidos-cantidad*/

/*@media (max-width:767px)
@media (min-width:768px) and (max-width:1023px)
@media (min-width:1024px)*/

@media (max-width:767px) {

    .pedidos {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px 100px 50px;
        place-content: center;
        margin: 10px;
        gap: 10px;
    }

    .pedidos-subtitulos {
        background: linear-gradient(rgb(6, 224, 240), rgb(4, 151, 65));
        height: 50px;
        place-self: start;
        justify-items: center;
        padding: 0px;
        width: 100%;
        text-align: center;
    }

    .pedidos-img {
        height: 200px;
        width: 340px;
    }

    .pedidos-selector {
        width: 100%;
    }

    .form-control {
        text-align: center;
        border: solid black;
        height: 50px;
    }

    .form-control-pedidos {
        width: 100%;
        height: 50px;
        background: linear-gradient(rgb(226, 73, 188), rgb(206, 163, 188));
        text-align: center;
    }

    .button-pedidos {
        display: flex;
        place-content: center;
        margin-top: 30px;
    }
}

/*--------tablet/ordenador------*/

@media (min-width:768px) and (max-width:1023px) {
    .pedidos {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 200px 70px;
        color: black;
        margin: 10px;
        gap: 10px;
    }

    .pedidos-subtitulos {
        background: linear-gradient(rgb(6, 224, 240), rgb(4, 151, 65));
        height: 80px;
        width: 100%;
        place-self: start;
        padding: 20px;
        text-align: center;
    }

    .pedidos-selector {
        width: 100%;
    }

    .pedidos-img {
        height: 200px;
        justify-self: center;
        border: solid black;
    }

    .pedidos-titulo {
        background-color: purple;
        font-size: 1.5rem;
        color: black;
        text-align: center;

    }

    .form-control-pedidos {
        height: 50px;
        background: linear-gradient(rgb(226, 73, 188), rgb(206, 163, 188));
        text-align: center;
    }
}

.button-pedidos {
    margin: 30px;
    font-size: 0.75rem;
    color: black;
    place-content: center;
    text-decoration: none;
    background: linear-gradient(rgb(157, 185, 187), rgb(39, 210, 223));
    padding: 5px;
    display: flex;
    border-radius: 10px;
}

/*------- ordenador------*/

@media (min-width:1024px) {

    .pedidos {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 200px 70px;
        color: black;
        margin: 10px;
    }

    .pedidos-subtitulos {
        background-color: aqua;
        height: 80px;
        place-self: start;
        padding: 20px;
        width: 100%;
        text-align: center;
    }

    .pedidos-img {
        height: 200px;
        justify-self: center;
        width: 100%;
    }

    .pedidos-titulo {
        background-color: purple;
        font-size: 1.5rem;
        color: black;
        text-align: center;
        margin: 10px;
    }

    .pedidos-selector {
        width: 100%;
    }

    .form-control-pedidos {
        width: 100%;
        height: 50px;
        background: linear-gradient(rgb(226, 73, 188), rgb(206, 163, 188));
        text-align: center;
    }

    .button-pedidos {
        display: flex;
        place-content: center;
        margin-top: 30px;
    }
}