.card {
    justify-items: center;
    text-align: center;
    width: 100px;
    margin: 0;

    img {
width: 280px;
    }
    
    }
    .titulo {
text-align: center;
    }
    

.cardproducto {
    width: 250px;
    height: auto;
    margin: 10px;

    .title {
        height: 50px;
    }
}

