/*navfooter
nav-item
nav-link
*/

.navfooter {
   display: flex;
   place-content: end;
   font-size: 0.5rem;
   padding-right: 10px;
   list-style: none;
   text-align: center;
}

.nav-item-foot {
   font-size: 0.7rem;
   padding: 10px;
   background: linear-gradient(rgb(226, 73, 188), rgb(206, 163, 188)) ;
   border-radius: 10%;
   text-align: center;
   margin-top: 10px;
}