.nav-footer {
    border: solid;
    list-style: none;
    display: inline-flex;
    background-color: violet;
    font-size: 0.75rem;
    width: 260px;
    margin-top: 30px;
    display: inline;
 }
 