/*navbar
nav-logo
nav-item
navbar-toggler
navbar-collapse
navbar-nav*/

.nav-logo {
   width: 100px;
   height: 90px;
}

.nav-item {
   font-size: 1rem;
   padding: 5px;
   background-color: grey;
   border: solid black;
   border-radius: 10%;
}

.navbar-collapse {
  justify-content: end;
}

.navbar {
   height: 100px;
}